In [1]:
import graphlab

In [2]:
image_train = graphlab.SFrame('image_train_data/')
image_test = graphlab.SFrame('image_test_data/')

This non-commercial license of GraphLab Create for academic use is assigned to 297501369@qq.com and will expire on July 09, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.0 started. Logging: C:\Users\Frank\AppData\Local\Temp\graphlab_server_1470420674.log.0

In [14]:
graphlab.canvas.set_target('browser')

In [15]:
image_train['image'].show()

Canvas is accessible via web browser at the URL: http://localhost:32603/index.html
Opening Canvas in default web browser.

In [5]:
image_train.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[10 rows x 5 columns]

In [6]:
label_category =image_train.groupby(key_columns='label',operations={'count': graphlab.aggregate.COUNT()})

In [7]:
label_category.sort('count', ascending = True)

Columns:
	label	str
	count	int

Rows: 4

Data:
+------------+-------+
|   label    | count |
+------------+-------+
|    bird    |  478  |
|    dog     |  509  |
|    cat     |  509  |
| automobile |  509  |
+------------+-------+
[4 rows x 2 columns]

In [8]:
image_test[0:1]

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 1

Data:
+----+----------------------+-------+-------------------------------+
| id |        image         | label |         deep_features         |
+----+----------------------+-------+-------------------------------+
| 0  | Height: 32 Width: 32 |  cat  | [1.13469004631, 0.0, 0.0, ... |
+----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [158.0, 112.0, 49.0, 159.0... |
+-------------------------------+
[1 rows x 5 columns]

In [87]:
image_test[0:1].show()

Canvas is updated and available in a tab in the default browser.

In [59]:
image_dog=image_train[image_train['label']=='dog']

In [88]:
knn_model = graphlab.nearest_neighbors.create(image_train,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [89]:
graphlab.canvas.set_target('browser')
cat = image_test[0:1]
cat['image'].show()

Canvas is updated and available in a tab in the default browser.

In [97]:
knn_model.query(cat)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 12ms         |

| Done         |         | 100         | 107.006ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [98]:
def get_images_from_ids(query_result):
    return image_train.filter_by(query_result['reference_label'],'id')

In [99]:
cat_neighbors = get_images_from_ids(knn_model.query(cat))

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 8ms          |

| Done         |         | 100         | 102.005ms    |

+--------------+---------+-------------+--------------+

In [108]:
cat_neighbors.show()

Canvas is updated and available in a tab in the default browser.

In [109]:
knn_model_dog = graphlab.nearest_neighbors.create(image_dog,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [110]:
graphlab.canvas.set_target('browser')
cat = image_test[0:1]
cat['image'].show()

Canvas is updated and available in a tab in the default browser.

In [117]:
knn_model_dog.query(cat)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 3ms          |

| Done         |         | 100         | 40.002ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16976      | 37.4642628784 |  1   |
|      0      |      13387      | 37.5666832169 |  2   |
|      0      |      35867      | 37.6047267079 |  3   |
|      0      |      44603      | 37.7065585153 |  4   |
|      0      |       6094      | 38.5113254907 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [118]:
def get_images_from_ids(query_result):
    return image_train.filter_by(query_result['reference_label'],'id')

In [119]:
cat_neighbors = get_images_from_ids(knn_model_dog.query(cat))

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 9.001ms      |

| Done         |         | 100         | 40.002ms     |

+--------------+---------+-------------+--------------+

In [120]:
cat_neighbors.show()

Canvas is updated and available in a tab in the default browser.

In [121]:
cat_neighbors

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 5

Data:
+-------+----------------------+-------+-------------------------------+
|   id  |        image         | label |         deep_features         |
+-------+----------------------+-------+-------------------------------+
|  6094 | Height: 32 Width: 32 |  dog  | [0.470533549786, 0.0, 0.0,... |
| 13387 | Height: 32 Width: 32 |  dog  | [0.366494178772, 0.0, 0.0,... |
| 16976 | Height: 32 Width: 32 |  dog  | [0.755595386028, 0.0, 0.0,... |
| 35867 | Height: 32 Width: 32 |  dog  | [0.305321395397, 0.0, 0.0,... |
| 44603 | Height: 32 Width: 32 |  dog  | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
+-------+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [91.0, 98.0, 71.0, 138.0, ... |
| [255.0, 255.0, 255.0, 255.... |
| [16.0, 17.0, 11.0, 18.0, 1... |
| [101.0, 93.0, 9.0, 93.0, 8... |
| [8.0, 25.0, 9.0, 29.0, 39.... |
+-------------------------------+
[5 rows x 5 columns]